.outline {

	border: 2px solid black;
	margin: 0 auto;
	padding: 30px;
	background-image: url('ceis_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	margin: 0 auto;
	/*border: 2px solid red;*/
	padding: 30px;
/*	height: 40px;
	width: 800px;*/
	background-color: rgb(0, 89, 48);
	opacity: 0.8;
	background-repeat: no-repeat;
	text-align: center;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-color: 
}

.responsive {
  max-width: 100%;
  height: auto;
}

.header img {

	height: 160px;
	width: 900px;
}

nav {
	width: 100%;
	border-radius: 5px;
	padding: 20px;
	margin: 5px auto;
	opacity: 0.9;
	height: 100%;
	min-height: 100%;
	position: sticky;
	top: 0;
}

.contents {
	margin: 0 auto;
	border: 2px solid green;
	padding: 80px;
	background-color: white;
	opacity: 0.8;
	text-align: center;
	
}

.contents label {

	margin: 10px 120px 0 20px;
}

.contents img {

	height: 150px;
	width: 150px;
	margin-right: 100px;

}

.contents a:hover {

	opacity: 0.5;
}
.carousel {
	margin: 80px 20px 5px 20px;
	/*border: 2px solid yellow;*/
	/*padding: 50px;*/
	max-height: 550px;
	border-right: 5px solid white;
	border-left: 5px solid white;

}

.carousel-indicators {
	   filter: invert(100%);

}

.carousel-item {
  height: 100%;

  /*min-height: 300px;*/
  max-height: 500px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item img {
/*max-width:100%;
max-height:100%;*/
width:100%;


/*border: 2px solid red;*/

}

.carousel-control-next , .carousel-control-prev{
    filter: invert(100%);
}


.footer {
	margin: 10px auto;
	padding: 50px;
	border: 2px solid blue;
	
}


/*hist css*/

.hist {
	margin: 80px 50px 10px 50px;
	border: 2px solid green;
	padding: 200px;
	background-color: white;
	opacity: 0.8;

}






/*end hist css*/

/*prog html*/

.prog {
	margin: 80px 50px 10px 50px;
	border: 2px solid green;
	padding: 100px;
	background-color: white;
	opacity: 0.8;
}


#indent {

	text-indent: 20px;
	font-weight: bold;
	font-variant: small-caps;
}

#indentspec {

	text-indent: 50px;
	font-weight: bold;

}

#indenttext {

	text-indent: 70px;
	text-align: justify;
	margin-left: 80px;
}

/*end prog*/

/*fact html*/

.fact {

	margin: 80px 50px 10px 50px;
	border: 2px solid green;
	padding: 50px;
	background-color: white;
	opacity: 0.9;

}


.fact img {

	height: 100px; 
	width: 100px;
	/*border: 2px solid pink;*/

}



fieldset {

	/*border:1px solid gree;*/
	border-radius:8px;
	box-shadow:0 0 10px #999;
	/*background-color: gray;*/
	/*border-radius: 10px;*/
	margin: 0 auto;




}

legend {

    font-family: 'Montserrat', sans-serif;

   }

.container, .full-time , .part-time{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	/*border: 2px solid blue;*/
}

.grid-item {

height: 200px;
width: 250px;
display: inline-block;
border: 2px solid white;


}

/*end fact*/